<!DOCTYPE html>
{% extends "admin/admin_dashboard.html" %}
<html>
{% load static %}
<head>
    <title>Brand List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
</head>
{% block content %}
<body>
    <br></br>
    <div class="card radius-10 w-100 bg-dark border-orange border-3">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <h6 class="mb-0 textColor">Brand List</h6>
            </div>
        <div class="row mb-3">
            <div class="col-md-12 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-light" onclick="location.href='/home/add-car-brand'">Add Brand</button>
            </div>
        </div>
        <form method="post" action="{% url 'delete_selected_brands' %}">
            {% csrf_token %}
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr class="bg-transdark">
                        <th class="textColor"></th>
                        <th class="textColor">ID</th>
                        <th class="textColor">Name</th>
                        <th class="textColor">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for brand in car_brands %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>
                            <input type="checkbox" name="selected_brands[]" value="{{ brand.id }}">
                        </td>
                        <td class="textColor">{{ brand.id }}</td>
                        <td class="textColor">{{ brand.name }}</td>
                        <td>
                            <a href="{% url 'edit_brand' brand.id %}" class="btn btn-link">
                                <i class="fa-solid fa-pen" style="color: #ffcb32; margin-right:10px;"></i>
                            </a>
                            <form method="post" id="deleteForm{{ brand.id }}-brand" action="{% url 'delete_brand' brand.id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="button" class="btn btn-link delete-button" data-bs-toggle="modal" data-bs-target="#delete" data-entity-id="{{ brand.id }}" data-entity-type="brand">
                                    <i class="fa-solid fa-trash" style="color: #e72e2e;"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-danger delete-selected">Delete Selected</button>
        </form>
    </div>
        <div id="example_paginate" class="dataTables_paginate paging_simple_numbers"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8ec87353a2.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#example').DataTable({
                    "pagingType": "full_numbers",  // Use full_numbers pagination style
                    "language": {                  // Customize pagination labels
                        "paginate": {
                            "previous": "Previous",
                            "next": "Next"
                        }
                    }
                });
            });
        </script>
    </div>  
</body>
{% endblock %}
</html>
